.block1 {
  display: inline-block;
  width: 420px;
  margin: 50px;
}
.block2 {
  display: inline-block;
  width: 420px;
  margin: 50px;
}
.block3 {
  display: inline-block;
  background-color: rgb(4, 48, 48);
  width: 420px;
  margin: 50px;
}
.block4 {
  display: inline-block;
  background-color: rgb(4, 48, 48);
  width: 420px;
  margin: 50px;
}
